<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>EcoHaven Dashboard</title>
    <link rel="stylesheet" href="../../static/thumbnail/seller-page/buyer-profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="{{ url_for('seller_dashboard') }}"><img class="logo" src="../../static/thumbnail/logo.png.png" alt=""></a>
        </div>

        <div class="profile-container" id="sellerinformation">
            <img class="profile-img" src="{{ url_for('static', filename='uploads/' + profile_pic) }}" alt="Profile Picture"> 
            <span id="user-name">{{ username }}</span>
            <a href=" /seller-notification  "><i class="fas fa-bell"></i></a>
         </div>  
    </div>

    <div class="container">
        <nav class="sidebar">
            <ul>
                <a href="/seller_dashboard"><li   >Dashboard</li></a>
                <a href="/seller-page/products"><li     >Products</li></a>
                <a href="/seller/update-stock"><li > Stocks</li> </a>
                <a href="/seller/sales"><li  >Sales</li></a>
                <a href="/seller/orders"><li  class="active">Orders</li></a>   
            </ul>
        </nav>
        <a class="chatbtn" href=" /chat-seller "><i class="fas fa-comments"></i> Chat</a>

        <!-- Main Content -->
        <main class="main-content">
            <a class="back" href="/seller/orders"><i class="fa-solid fa-arrow-left"></i> Back</a>
            <div class="main-container">

                {% if buyers %}
                    <div class="profile-main-container">
                        <div class="profile-container2"> 
                            <div>   
                                <img class="profile-img2" src="{{ url_for('static', filename='uploads/' + buyers.profile_pic) }}" alt=""><br>
                            </div>    
                        </div>

                        <div class="username">
                        <span id="username">{{buyers.Fname}}</span>
                        </div>
                    </div>
                
                    
                    <div class="details-container">
            
                        <div class="profile-header">
                            <h2>Buyer's Profile</h2>
                        </div>
            
                        <div class="profile-details">
                            <p class="details"><strong>Full Name:</strong> <span id="fullName"> {{ buyers.fullname }}</span></p>
                            <p class="details"><strong>Email Addess:</strong> <span id="email"> {{buyers.email}}</span></p>
                            <p class="details"><strong>Gender:</strong> <span id="gender"> {{buyers.gender}}</span></p>
                            <p class="details"><strong>Address:</strong> <span id="address"> {{buyers.address}}</span></p><br>
                        
                        </div>
            
                        <div class="logout-container">
                            <button class="report" onclick="window.location.href='/chat-seller/{{ buyers.buyer_id }}/{{seller_id}}'" >
                                <i class="fas fa-envelope"></i> Message
                            </button>
                            <button onclick="window.location.href='/seller/report-message/{{ buyers.buyer_id }}'" class="report">
                                <i class="fas fa-flag"></i> Report
                            </button>
                        </div>
            
                    </div>
                {% else %}
                    <p>No report found for the given ID.</p>
                {% endif %}
                
            </div>
        </main>
    </div>
</body>
</html>
