name: ecohaven_app
description: "A new Flutter project."

publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  image_picker: ^1.0.7
  provider: ^6.1.2  # Use this version
  http: ^0.13.5
  intl: ^0.18.1
  shared_preferences: ^2.5.3

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/
    - assets/categoryAssets/
    - assets/uploads/
    - assets/uploads/profile-icon-design-free-vector.jpg
