*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo{
    width: 180px; 
    padding-top: 10px;
}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 15px 0px 20px;
}
.profile-container {
    display: flex;
    align-items: center;
    width: 230px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;

    }
}
#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 55px); /* Full height minus the header */
    overflow: hidden; /* Prevent full page scrolling */
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #ADC8EE;
    color: white;
    padding: 40px 20px 0px 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    cursor: pointer;
    background-color: #133157;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color:#ffffff;
}

.sidebar ul li.active{
    background-color:#FAB51C;
    color: #133157;
    font-weight: 600;
}

.sidebar ul li:hover{
    opacity: 0.8;
}

/* Main Content */
.main-content {
    width: 80%;
    background-color: #F0F4FA;
    padding: 20px;
    overflow-y: scroll; /* Allows scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.main-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}


.add-btn{
    width: 16%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #133157;
    color: #133157;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 12px;
}
.add-btn:hover{
    background-color: #133157;
    color: #ffffff;
}

.back{
    font-size: 20px;
    text-decoration: none;
    color: #133056;
    font-weight: 600;
}
.back i{
    width: 30px;
}   

.title{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    color:#ffffff;
    margin:30px 12px 20px 12px;
    background-color: #133157;
    box-sizing: border-box;
}

.h3-container{
    box-sizing: border-box;
    margin-left: 10px;
}

.search-container{
    width: 500px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    box-sizing: border-box;
}
.search-bar::placeholder{
    font-size: 16px;
}

.search-btn{
    width: 74px;
    height: 34px;  
    border: 1px solid #ffffff;
    background-color: #133157;
    cursor: pointer;
}

.search-btn img{
    height: 22px;
    margin-top: 2px;
}

.search-btn:hover{
    opacity: 0.9;
}
.search-btn:active{
    opacity: 0.6;
}

.chatbtn{
    position: absolute;
    background-color: #133157;
    bottom: 5px;
    right: 10px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;


    i{
        width: 20px;
    }
}

.product-container {
    width: 100%; /* Full width of the parent */
    max-width: 1118px; /* Set a maximum width */
    margin: 0 auto; /* Center horizontally */
    background-color: #ffffff;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    justify-content: center; /* Center grid items */
}
.product-card{
    padding: 10px;
    border: 2px solid rgb(231, 231, 231);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    transition: transform 0.3s ease;
    transition: 0.2s;
}

.product-card:hover{
    transform: scale(1.01);
    border: 2px solid #133157;
    z-index: 0;
}
.product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    margin-bottom: 10px;
}
.product-img{
    width: 100%;
    height: 100%;
}

.product-name {
    height: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;


}
.name{
    display: -webkit-box; /* Required for WebKit browsers */
    -webkit-line-clamp: 2; /* Old, WebKit-prefixed version */
    line-clamp: 3; /* Standard, non-prefixed version */
    -webkit-box-orient: vertical; /* Required for WebKit browsers */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow text wrapping */
}
.product-price{
    font-weight: 800;
    margin-bottom: 10px;
    color: #133157;
}

.review-container{
    display: flex;
    justify-content: center;
}

.sold-container{
    width: 50%;
}

.rating-container{
    width: 50%;
}

.rating-container img{
    width:16px;
    margin-left: 30px;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #133157;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.modal-content {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
}

.modal-footer {
    padding: 10px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.modal-footer button {
    background-color:  #FAB51C; /* Dark blue color */
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.modal-footer button:hover {
    background-color: #FAB51C; /* Slightly darker on hover */
} 



.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

.pagination a {
    text-decoration: none;
}

.pagination button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0px 15px;
    font-size: 18px;    
    background-color: #F0F4FA;
    color: #333333;
}

.pagination button.active {
    background-color: #133157;
    color: white;
    font-weight: bold;
    cursor: default;

}

.pagination button:hover:not(.active) {
    background-color: #f0f0f0;
}


