*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo{
    width: 180px; 
    padding-top: 10px;
}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: conver;
    margin: 0px 15px 0px 20px;
}
.profile-container {
    display: flex;
    align-items: center;
    width: 230px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;

    }
}
.chatbtn{
    position: absolute;
    background-color: #133157;
    bottom: 5px;
    right: 10px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;


    i{
        width: 20px;
    }
}
#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #ADC8EE;
    color: white;
    padding: 40px 20px 0px 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li{
    padding: 20px;
    cursor: pointer;
    background-color: #133157;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color:#ffffff;
}

.sidebar ul li.active{
    background-color:#FAB51C;
    color: #133157;
    font-weight: 600;
}

.sidebar ul li:hover{
    opacity: 0.8;
}


/* Main Content */
.main-content {
    width: 80%;
    background-color: #F0F4FA;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-form{
    border: 1px solid #333333;
    padding: 35px;
    border-radius: 2px;
}

.back{
    font-size: 20px;
    text-decoration: none;
    color: #133056;
    font-weight: 600;

}
.back i{
    width: 30px;
}


.label{
    color: #133056;
    margin-bottom: 20px;
}

.violation-type {
    margin-bottom: 20px;
}

#violation-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.details-form {
    margin-top: 30px;
}

.image-upload {
    margin-bottom: 15px;
}

#proof-image {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buyer-info, .message-content {
    margin-bottom: 15px;
}

label {
    font-weight: 500;
    color: #133157;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    line-height: 1.5;
}

.send-button {
    background-color: #FAB51C;
    color: #133157;
    font-weight: 600;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.send-button i {
    margin-right: 8px;
}
.back{
    font-size: 20px;
    text-decoration: none;
    color: #133056;
    font-weight: 600;
    position:absolute;
    top:10%;
    left:23%;
}
.back i{
    width: 30px;
}