body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #E2E2E2;
    font-family: roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container{
    position: relative; /*para mag overlay ung sub-container na nasa loob*/
    width: 850px;
    height: 660px;
}

.vertical-design{
    width: 290px;
    height: 650px;
    background-color: #ADC8EE;
    margin-left: 70px;
}

.sub-container {
    position: absolute; /*para mag overlay*/
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust centering due to absolute positioning */
    width: 850px;
    height: 450px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container2{
    width: 730px;
    height: 280px;
    background-color:#ADC8EE;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    position: absolute;
    width: 317px;
    height: 90;
    z-index: 1;
    left: 75px;

}

form{
    position: absolute;
    width: 350px;
    height: 380px;
    right: 75px;
    background-color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    text-align: center;
}
h2{
    color: #133056;
}

input[type="email"]{
    width: 250px;
    height: 35px;
    padding: 0px 0px 0px 8px;
    font-size: 16px;
    margin: 50px 0px 25px 0px;
}

.reset-btn{
    width: 232px;
    height: 32;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
    background-color: #133056;
    border: none;
    padding: 8px;
    margin: 30px 0px 20px 0px;
    cursor: pointer;
}

.reset-btn:hover{
    opacity: 0.9;
}
.reset-btn:active{
    opacity: 0.6;
}

form .sign-up{
    font-size: 14px;
}

form a{
    font-size: 15px;
    color: #FBB51F;
}

.back{
    position: absolute;
    left: 20px;
    top: 22px;
    width: 30px;
    height: 26px;
}