<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>EcoHaven Dashboard</title>
    <link rel="stylesheet" href="../../static/thumbnail/Admin-page/account-management/buyer-approval.css">
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <a href="../../seller-page/dashboard.html"><img class="logo" src="../../../static/thumbnail/logo.png.png" alt=""></a>
        </div>

        <div class="profile-container">
            <img class="profile-img" src="../../../static/thumbnail/eirich2.jpg" alt="">
            <span id="user-name">Admin</span>
         </div>       
    </div>

    <div class="container">
        <nav class="sidebar">
            <ul>
                <a href="/admin_dashboard"><li>Dashboard</li></a>
                <li class="dropdown">
                    Account Management
                    <ul class="dropdown-menu">
                        <a href="/admin_dashboard/account-management"><li >Seller Account </li></a>
                        <a href=""><li class="active">Rider Account </li></a>
                    </ul>
                </li>                
                <a href="/admin_dashboard/blocked-list"><li>Blocked List</li></a>
                <a href="/admin_dashboard/report"><li>Report</li></a>
                <a href="/admin_sales"><li>Sales </li></a>
                <a href="/logout" onclick="return confirm('Are you sure you want to logout?')" ><li class="logout">Logout</li></a>
            </ul>
        </nav>


        <!-- Main Content -->
        <main class="main-content">    
            <div class="table">

                <nav class="navbar-container"> 
                    <ul class="navbar">
                        <li><a  href="">Registered Rider</a></li>
                        <li><a  href="">Rider Approval</a></li>
                        <li><a class="nav-active" href="">blocked list</a></li>
                        <li><a href="">Archived</a></li>
                    </ul>
                </ul>
                </nav>

                <section class="table-body">
                    <table>
                        <thead>
                            <tr>
                                <th>Profile</th>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th class="actions">Action</th>
                            </tr>
                        </thead>

                        <tbody>
                            

                            {% for user in users_data %} 
                            <tr class="user-row">
                                <td>
                                    <img class="profile" src="{{ url_for('static', filename='uploads/' + user.seller_logo) }}" alt="">
                                </td>
                                <td>
                                    <span id="username"> {{ user.seller_fname }} </span>
                                </td>
                                <td>
                                    <span id="email">{{ user.email }}</span>
                                </td>
                                <td class="actions">
                                    <form action="{{ url_for('blocke_user_unblock', user_id=user.user_id) }}" method="POST" style="display:inline;">
                                        <button type="submit" class="block-btn" onclick="return confirm('Are you sure you want to Unblock this user?')">Restore</button>
                                    </form>

                                </td>
                            </tr>
                            {% endfor %}
                           
                            <!-- Additional rows can be added here -->
                        </tbody>
                    </table>
                </section>
            </div>

        </main>
    </div>
</body>
</html>
