*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fef6f5;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.logo{
    width: 136px;
    padding: 10px 0px 10px 60px;
}

.search-container{
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 12px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.search-bar::placeholder{
    font-size: 16px;
}

.search-btn{
    width: 74px;
    height: 34px;  
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: #133157;
    cursor: pointer;
}

.search-btn img{
    height: 22px;
    margin-top: 2px;
}

.search-btn:hover{
    opacity: 0.9;
}
.search-btn:active{
    opacity: 0.6;
}


.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.cart-icon{
    width: 68px;
    height: 34px;  
    background-color: #133157;
    border-radius: 2px;
    margin-right: 15px;
}
.cart-icon img{
    height: 28px;
    margin-left: 12px;
    margin-top: 4px;
}

.order-icon{
    width: 68px;
    height: 34px;  
    background-color: #133157;
    border-radius: 2px;  
    text-align: center;
    margin-right: 15px;
}
.order-icon img{
    height: 24px;   
    margin-top: 5px;
}
.chatbtn{
    position: absolute;
    background-color: #133157;
    bottom: 0px;
    right: 10px;
    padding: 12px 16px;
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0px 0px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    text-decoration: none;
    z-index: 1;

    i{
        margin-right: 5px;
    }
}
.profile-container{
    display: flex;
    align-items: center;
    width: 220px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;
    }
}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 15px 0px 20px;
}

#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}


.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.cart-header{
    height: 50px;
    width: 80%;
    border: 2px solid #333333;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color:#133157 ;
    border-radius: 2px;
    box-sizing: border-box;

    .product{
        padding: 10px;
        flex: 1;
        max-width: 360px;
    }
    .header-title{    
        flex: 1;
        max-width: 150px;
        text-align: center;
    }

    .title{
        padding: 10px;
        color: #ffffff;
        font-weight: 500;
    }

}
.shop-cart-container{
    width: 80%;
    margin-top: 30px;
    border: 2px solid #333333;
    border-radius: 2px;
    box-sizing: border-box;


    .shop-name-header{
        border-bottom: 2px solid #333333;
        padding: 14px;
        display: flex;
        align-content: center;
        font-weight: 500;

        .select-shop{
           width: 20px;
           height: 20px;
           margin-right: 10px;
        }

        #shop-name{
            padding: 10px;
            color: #000000;
            font-weight: 600;
            text-transform:uppercase;
        }
    }

    .cart-item-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #333333b1;
        box-sizing: border-box;
        

        .product{
            padding: 10px;
            flex: 1;
            max-width: 360px;
            display: flex;
            align-items: center;

            .select-item{
                width: 18px;
                height: 18px;
                margin-right: 10px;
            }

            .product-img{
                width: 100px;
                height: 100px;
                aspect-ratio:auto 100/100;
                margin-left: 30px;
            }
            .product-name{
                display: -webkit-box;           /* Required for -webkit-line-clamp */
                display: box;                   /* Fallback for non-webkit browsers */
                -webkit-line-clamp: 2;          /* Webkit-specific line clamping */
                line-clamp: 2;                  /* For potential future support */
                -webkit-box-orient: vertical;   /* Required for line clamping */
                box-orient: vertical;           /* Fallback for non-webkit browsers */
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 10px;  
            }
            .variation{
                margin-left: 10px;
                padding: 4px;
                padding-left: 10px;
                font-size: 14px;
                background-color:#e7dfde;
                border-radius: 2px;
            }
           
            
        }
        .header-title{    
            flex: 1;
            max-width: 150px;
            text-align: center;

            .quantity{
                width: 30px;
                text-align: center;
                padding: 1px;
            }
            .quantity-btn{
                width: 30px;
                padding: 1px;
                

            }
        }
        .delete-btn{
            width: 100px;
            padding: 8px;
            background-color:red;
            color: #ffffff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    
    }

}

.total-payment-container{
    width: 80%;
    border-radius: 2px;
    margin-top: 30px;
    border: 2px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    .total-payment{
        flex: 1;
        padding: 15px;
        margin-left: 45px;
    }

    .total-pay-check{
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }

    .place-order-btn{
        width: 180px;
        padding: 8px;
        background-color:#FAB51C;
        color: #133157;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        cursor: pointer;
        transition: 0.1s;
    }:hover{
        opacity: 0.9;
    }:active{
        opacity: 0.8;
    }

}





.footer-container{
    margin-top: 150px;
    width: 100%;
    background-color: #ADC8EE;

    .footer-logo{
        text-align: center; 
    }
    img{
        width: 260px;
        margin: 20px;
    }  
}

.info-container{
    display: flex;
    padding: 20px 200px 50px 200px;

    .devteam-container{
        flex:1;
        display: flex;   
        justify-content: center;
        align-items: center;

        ul li{
            list-style-type: none;
            color: #333333;
            font-size: 14px;
            padding: 5px 0px;
        }
        
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }
    }
   

    .social-container{
        flex: 1; 
        display: flex;   
        justify-content: center;
        align-items: center;
        
        ul li{
            list-style-type: none;
            padding: 5px 0px;
            font-size: 14px;          
        }

        ul li a{
            text-decoration: none;
            color: #333333;           
        }
        ul li a i{
            width: 30px;
        }
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }

    }
}

.copy-right{
    background-color: #133157;
    text-align: center;
    
    .copy-right-text{
        padding: 10px;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
        
    }
}
 
form {
    display: contents;
}
 
  

