*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fef6f5;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.logo{
    width: 136px;
    padding: 10px 0px 10px 60px;
}

.search-container{
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 12px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.search-bar::placeholder{
    font-size: 16px;
}

.search-btn{
    width: 74px;
    height: 34px;  
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: #133157;
    cursor: pointer;
}

.search-btn img{
    height: 22px;
    margin-top: 2px;
}

.search-btn:hover{
    opacity: 0.9;
}
.search-btn:active{
    opacity: 0.6;
}


.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-icon{
    width: 68px;
    height: 34px;  
    background-color: #133157;
    border-radius: 2px;
    margin-right: 15px;
}
.cart-icon img{
    height: 28px;
    margin-left: 12px;
    margin-top: 4px;
}

.order-icon{
    width: 68px;
    height: 34px;  
    background-color: #133157;
    border-radius: 2px;  
    text-align: center;
    margin-right: 15px;
}
.order-icon img{
    height: 24px;   
    margin-top: 5px;
}

.profile-container{
    display: flex;
    align-items: center;
    width: 220px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;
    }
}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 15px 0px 20px;
}
#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}


.form-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.form-container{
    background-color: #fef6f5;
    width: 600px;
    border: 1px solid #133056;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

h3{ 
    text-align: center;
    margin: 8px 0px 40px 0px;   
}

h4{
    text-align: center;
    margin: 15px 0px 10px 0px;    
    color: #133056;
}

.profile-form{
    background-color: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    box-shadow:0px 0px 1px #333333;
}

.address-form, .login-form, .personal-form{
    background-color: #ffffff;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-top: 40px;
    box-shadow:0px 0px 1px #333333;
}

.inputField input{
    width: 454px;
    height: 30px;
    margin: 10px 0px 20px 0px;
    font-size: 16px;
    padding-left: 8px;
}

.container{
    display: flex;  
    align-items: center;
}

.inputField label{
    font-size: 16px;
    font-weight: 500;
    color: #2C3345;
}

p{
    font-size: 16px;
    font-weight: 500;
    color: #2C3345;
    margin-left: 20px;
}

.inputField2 input{
    width: 213px;
    height: 30px;
    font-size: 16px;
    margin: 10px 0px 20px 20px;
    padding-left: 8px;
}

#gender{
    width: 222px;
    height: 34px;
    font-size: 16px;
    margin: 10px 0px 20px 20px;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid #133056;
}

.inputField2{
    display: inline-block;
}

.inputField2 label{
    font-size: 16px;
    font-weight: 500;
    color: #2C3345;
    margin-left: 20px;
}

.container{
    display: flex;
    
}


.update-btn{
    width: 200px;
    height: 30px;
    margin: 10px 0px 30px 0px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    background-color: #133056;
    border: none;
    cursor: pointer;
    border-radius: 2px; 
}

.update-btn:hover{
    opacity: 0.9;
}
.update-btn:active{
    opacity: 0.6;
}

.back{
    font-size: 20px;
    text-decoration: none;
    color: #133056;
    font-weight: 600;
    position:absolute;
    left:15px;
    top: 8px;
}
.back i{
    width: 30px;
}


.footer-container{
    margin-top: 150px;
    width: 100%;
    background-color: #ADC8EE;

    .footer-logo{
        text-align: center; 
    }
    img{
        width: 260px;
        margin: 20px;
    }  
}

.info-container{
    display: flex;
    padding: 20px 200px 50px 200px;

    .devteam-container{
        flex:1;
        display: flex;   
        justify-content: center;
        align-items: center;

        ul li{
            list-style-type: none;
            color: #333333;
            font-size: 14px;
            padding: 5px 0px;
        }
        
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }
    }
   

    .social-container{
        flex: 1; 
        display: flex;   
        justify-content: center;
        align-items: center;
        
        ul li{
            list-style-type: none;
            padding: 5px 0px;
            font-size: 14px;          
        }

        ul li a{
            text-decoration: none;
            color: #333333;           
        }
        ul li a i{
            width: 30px;
        }
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }

    }
}

.copy-right{
    background-color: #133157;
    text-align: center;
    
    .copy-right-text{
        padding: 10px;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
        
    }
}
 
  

