*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fef6f5;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    margin-right: 80px;
    display: flex;
    align-items: center;
}

.logo{
    width: 136px;
    padding: 10px 0px 10px 60px;
}

.search-container{
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 34px;
    padding-left: 12px;
    font-size: 16px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.search-bar::placeholder{
    font-size: 16px;
}

.search-btn{
    width: 74px;
    height: 34px;  
    border: none;
    border-radius: 0px 3px 3px 0px;
    background-color: #133157;
    cursor: pointer;
}

.search-btn img{
    height: 22px;
    margin-top: 2px;
}

.search-btn:hover{
    opacity: 0.9;
}
.search-btn:active{
    opacity: 0.6;
}


.icon-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .cart-icon{
        width: 68px;
        height: 34px;  
        background-color: #133157;
        border-radius: 2px;
        margin-right: 15px;
    }
    .cart-icon img{
        height: 28px;
        margin-left: 12px;
        margin-top: 4px;
    }

    .order-icon{
        width: 68px;
        height: 34px;  
        background-color: #133157;
        border-radius: 2px;  
        text-align: center;
        margin-right: 15px;
    }
    .order-icon img{
        height: 24px;   
        margin-top: 5px;
    }
    
    .cart-quantity {
        color:#FAB51C;
        font-size: 14px;
        font-weight: 500;
      
        position: absolute;
        top: 12px;
        left: 36px;
        
        width: 24px;
        text-align: center;
      }
}

.cart-icon{
    width: 68px;
    height: 34px;  
    background-color: #133157;
    border-radius: 2px;
}
.cart-icon img{
    height: 24px;
    margin-left: 22px;
    margin-top: 6px;
}

.chatbtn{
    position: absolute;
    background-color: #133157;
    bottom: 0px;
    right: 10px;
    padding: 12px 16px;
    color: #ffffff;
    border: none;
    border-radius: 4px 4px 0px 0px;
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    text-decoration: none;
    z-index: 1;

    i{
        margin-right: 5px;
    }
}
.profile-container{
    display: flex;
    align-items: center;
    width: 220px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;
    }


}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 15px 0px 20px;
}

#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}

.main {
    max-width: 850px;
    margin-top: 70px;
    margin-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
  
    /* margin-left: auto;
       margin-right auto;
       Is a trick for centering an element horizontally
       without needing a container. */
    margin-left: auto;
    margin-right: auto;
  }
  
  .back-to-orders-link {
    display: inline-block;
    margin-bottom: 50px;
    color: #133157;
    font-size: 18px;
    text-decoration: none;
  }
  .back-to-orders-link i{
    width: 30px;
  }
  
  .delivery-date {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .received-btn{
    font-size: 16px;
    width: 135px;
    height: 35px;
    border-radius: 3px;
    font-weight: 500;
    background-color: #FAB51C;
    border: none;
    cursor: pointer;
  }
  
    .received-btn:hover{
        opacity: 0.9;
    }
    .received-btn:active{
        opacity: 0.8;
    }
    
    .product-info {
        margin-bottom: 3px;
    }
    
  .product-image {
    width: 150px;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  
  .progress-labels-container {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px;
  }
  
  .current-status {
    color: #d59306;
  }
  
  @media (max-width: 575px) {
    .progress-labels-container {
      font-size: 16px;
    }
  }
  
  @media (max-width: 450px) {
    .progress-labels-container {
      flex-direction: column;
      margin-bottom: 5px;
    }
  
    .progress-label {
      margin-bottom: 3px;
    }
  }
  
  .progress-bar-container {
    height: 25px;
    width: 100%;
  
    border: 1px solid rgb(200, 200, 200);
    border-radius: 50px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #FAB51C;
    border-radius: 50px;
    width: 50%;
  }
  

.footer-container{
    margin-top: 150px;
    width: 100%;
    background-color: #ADC8EE;

    .footer-logo{
        text-align: center; 
    }
    img{
        width: 260px;
        margin: 20px;
    }  
}

.info-container{
    display: flex;
    padding: 20px 200px 50px 200px;

    .devteam-container{
        flex:1;
        display: flex;   
        justify-content: center;
        align-items: center;

        ul li{
            list-style-type: none;
            color: #333333;
            font-size: 14px;
            padding: 5px 0px;
        }
        
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }
    }
   

    .social-container{
        flex: 1; 
        display: flex;   
        justify-content: center;
        align-items: center;
        
        ul li{
            list-style-type: none;
            padding: 5px 0px;
            font-size: 14px;          
        }

        ul li a{
            text-decoration: none;
            color: #333333;           
        }
        ul li a i{
            width: 30px;
        }
        li:first-child {
            font-weight: bold;
            font-size: 16px;
            color: #000000;
            margin-bottom: 10px ;
            text-transform: capitalize;
        }

    }
}

.copy-right{
    background-color: #133157;
    text-align: center;
    
    .copy-right-text{
        padding: 10px;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
        
    }
}
 

.variation {
    padding: 4px;
    padding-left: 10px;
    font-size: 14px;
    background-color: #e7dfde;
    border-radius: 2px;
    width: 40%;
    margin-bottom: 10px;
}
  

