*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: roboto, Arial, Helvetica, sans-serif;
}
.header{
    background-color: #ADC8EE;
    display: flex;
    justify-content: space-between;
    height: 55px;
}

.logo-container{
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.logo{
    width: 180px; 
    padding-top: 10px;
}

.profile-img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0px 15px 0px 20px;
}
.profile-container {
    display: flex;
    align-items: center;
    width: 230px ;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;

    a{
        color: #133157;
        font-size: 22px;
        margin-left: 20px;

    }
}
.chatbtn{
    position: absolute;
    background-color: #133157;
    bottom: 5px;
    right: 10px;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;


    i{
        width: 20px;
    }
}
#user-name {
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
    color: #133157
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 55px); /* Full height minus the header */
    overflow: hidden; /* Prevent full page scrolling */
}

/* Sidebar */
.sidebar {
    width: 20%;
    background-color: #ADC8EE;
    color: white;
    padding: 40px 20px 0px 20px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 20px;
    cursor: pointer;
    background-color: #133157;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
    transition: 0.2s;
}
a{
    text-decoration: none;
    color:#ffffff;
}

.sidebar ul li.active{
    background-color:#FAB51C;
    color: #133157;
    font-weight: 600;
}

.sidebar ul li:hover{
    opacity: 0.8;
}



/* Main Content */
.main-content {
    width: 80%;
    background-color: #F0F4FA;
    padding: 20px;
    overflow-y: scroll; /* Allows scrolling */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.main-content::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

/*Navbar*/
.navbar-container{
    background-color:#133157;
    margin-bottom:40px;
}

.navbar {
    list-style-type: none;
    display: flex;
}

.navbar li {
    margin: 0 20px;
}

.navbar li a {
    display: block; 
    padding: 14px 20px;
    text-decoration: none;
}

.nav-active{
    color: #FAB51C;
    font-weight: 500;
}

.shop-name-header{
    border-bottom: 1px solid #333333;
    padding: 8px 10px;
    display: flex;
    align-content: center;
    font-weight: 500;
    margin-bottom: 10px;
    cursor: pointer;

    .buyer-profile{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin: 0;
        padding:0;
    }

    #buyer-username{
        color: #000000;
        font-weight: 500;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
    }
}



.column{
    width: 20%;
    text-align: center;
}
.column-1{
    width: 15%;

    p{
        padding-left: 40px;
    }

    .item-img{
        width: 70px;
        height: 70px;
        margin-left: 40px;
        
    }
}

.column-name{
    width: 35%;
    word-wrap: break-word;
}

.column-action{
    width: 20%;
    align-items: center;
    text-align: center;

    .accept-btn{
        width: 80px;
        padding: 5px;
        background-color:#133157;
        color: #ffffff;
        border: none;
        border-radius: 2px;
        cursor: pointer;
        font-weight: 500;
        margin-right: 10px;
    }

}


.product-container{
    width: 98%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid #333333;
    margin-top: 10px;
    border-radius: 2px;
}

.item-container{
 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
    
}

